/* Add your CSS styles here */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffebcd, #ffd700);
}

.myContainer {
  max-width: 80%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  color: #333;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.form {
  margin-bottom: 35px;
  margin-top: 20px;
}

.form-select {
  padding: 10px;
}

.form-submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #45a049;
}

.card-item {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-activity {
  margin: 0;
  font-size: 24px;
}

.tag-error {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

/* Styles for search results */
.search-results {
  margin-top: 20px;
}

.result-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}